*.pyc

dist/*
build/*
*.egg-info/

.tox/
.coverage

.venv/*
.mypy_cache/*
.pytest_cache/*

public/*

debian/substvars
debian/files
debian/.debhelper/*
debian/debhelper-build-stamp
debian/taskforge.postinst.debhelper
debian/taskforge.prerm.debhelper
debian/taskforge/*
.pybuild/*

.vscode/*
